/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family:Roboto,sans-serif;
  font-size: small;
  text-align: center;
}

h1 { margin-bottom: 1em; }

p { margin: 1em 0; }

a         { color: #33B5E5; }
a:hover   { color: #000; }
a:visited { color: #33B5E5; }

img.before {
float: left;
margin: 0px 15px 5px 0px;
display: inline;
}

ul.inside {
list-style-position: inside;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
  margin-bottom: 15px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #33B5E5;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #33B5E5;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

form.donate {
  display: inline;
  vertical-align: middle;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

a.post_title {
  font-size: 16px;
}

span.post_meta {
  font-size: 10px;
}

span.post_date {
  font-size: 12px;
}

span.post_author {
  font-size: 12px;
  color: #33B5E5;
}

span.post_summary {
  font-size: 14px;
}

img.feed {
  vertical-align: middle;
}

div.highlight {
  margin-top: 20px;
  margin-bottom: 20px;
}

