/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #fff;
  font-family:Roboto,sans-serif;
  font-size: small;
  text-align: center;
}

h1 { margin-bottom: 1em; }
h2 { margin-top: 1em; margin-bottom: 4px; }
h3 { margin-top: 1em; margin-bottom: 4px; }
h4 { margin-top: 1em; margin-bottom: 4px; }
h5 { margin-top: 1em; margin-bottom: 4px; }

p { margin: 1em 0; }

a         { color: #33B5E5; }
a:hover   { color: #A4C639; }
a:visited { color: #33B5E5; }

img.logo {
height: 100px;
z-index: 31337;
}

img.before {
float: left;
margin: 0px 15px 5px 0px;
display: inline;
}

ul {
list-style-position: inside;
display: block;
}

.wiki li {
margin-left: 10px;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
  margin-bottom: 15px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  margin: 1em auto;
  line-height: 1.5em;
}
.header {
  width: 800px;
  margin: 0 auto;
}
.siteTitle {
  color: #33B5E5;
  text-decoration: none;
}
form.donate {
  display: inline;
  vertical-align: middle;
}
.meta {
  color: #aaa;
}
.content {
  width: 780px;
  margin: 0 auto;
}
.page {
  margin: 0 auto;
  width: 780px;
}

/** Footer **/
.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #e2e2e2;
  margin: 2em auto;
  overflow: hidden;
  width: 800px;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/* NOTE: the navbar is just the floating grey background */
.navbar {
  background-color: #F3F3F3;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  position: absolute;
  width: 800px;
  min-height: 50px;
  margin-top: -75px;
  z-index: -1;
}

/* layout of the table on top of the bar */
.navtab {
  width: 800px;
}
td.logo {
  text-align: center;
  width: 300px;
}

/* styles for the links in the navigation "bar" */
.nav h1 {
  margin-bottom: 0;
}
.navLink {
  text-decoration: none;
}
.linkBox {
  margin-top: 13px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  height: 39px;
}
.nav > a {
  font-size: 16px;
  font-weight: bold;
  color: #33B5E5;
}
.linkBox:hover {
  border-radius: 4px;
  cursor: pointer;
  background-color: #E6E6E6;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
  margin: 0 auto;
  width: 780px;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

a.post_title {
  font-size: 16px;
}

span.post_meta {
  font-size: 10px;
}

span.post_date {
  font-size: 12px;
}

span.post_author {
  font-size: 12px;
  color: #33B5E5;
}

span.post_summary {
  font-size: 14px;
}

img.feed {
  vertical-align: middle;
}

div.highlight {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.member {
  overflow: hidden;
}

div.quote {
  font-size: 90%;
  margin: auto 10px auto 10px;
  padding: 10px 10px 10px 10px;
  background-color: #d0d0d0;
}

