html, body {
	margin: 0;
	padding: 0;
	font-family: Tahoma;

}

a:link,a:visited,a:active {
	text-decoration: none;
	color: #A4C639;
}

a:hover {
	text-decoration: none;
	color: #ffffff;
}

a:img {
	border: none;
}

body {
	text-align: center;
	background-color: #2e2e2e;
}

#container {
	margin: 30px auto;
	width: 700px;
	color: #eee;
}

#itsout {
    font-size: 24pt;
    font-weight: bold;
}

