<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | droidsec.org</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

  </head>
  <body>
    <div class="site">
      <div class="header">
        <table class="navtab">
          <tr>
            <td class="nav"><h1><a href="/" class="navLink"><div class="linkBox">{{ site.name }}</div></a></h1></td>
            <td class="nav"><a class="navLink" href="/news/"><div class="linkBox">News</div></a></td>
            <td class="nav"><a class="navLink" href="/wiki/"><div class="linkBox">Wiki</div></a></td>
            <td class="nav"><a class="navLink" href="/members/"><div class="linkBox">Members</div></a></td>
            <td class="nav"><a class="navLink" href="/join/"><div class="linkBox">Join</div></a></td>
            <td class="nav"><a class="navLink" href="/donate/"><div class="linkBox"><b>Donate!</b></div></a></td>
            <td class="logo"><img class="logo" src="/img/v2s.png" alt="logo" /></td>
          </tr>
        </table>
        <div class="navbar">&nbsp;</div>
      </div>

      <div class="page">
      {{ content }}
      </div>

      <div class="footer">
        <p>&copy; 2014-2015 droidsec.org</p>
      </div>
    </div>
  </body>
</html>
