<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <div class="site">
          <div class="header">
            <img src="/img/ds-small.png" /><br />
            <div class="navbar">
              <ul class="mainNav">
                <li class="navItem"><h1><a href="/" class="title">{{ site.name }}</a></h1></li>
                <li class="navItem"><a class="extra" href="/news/">News</a></li>
                <li class="navItem"><a class="extra" href="https://github.com/droidsec/droidsec.github.io/wiki">Wiki</a></li>
                <li class="navItem"><a class="extra" href="/members/">Members</a></li>
                <li class="navItem"><a class="extra" href="/join/">Join</a></li>
                <li class="navItem"><a class="extra" href="/donate/"><b>Donate!</b></a></li>
              </ul> 
            </div>
          </div>

          {{ content }}

          <div class="footer">
            <p>&copy; 2014 droidsec.org</p>
          </div>
        </div>

    </body>
</html>
